<p class="title"><%= data.player.alias %>
<% if(data.player.badges) { %>
  <% for(var i = 0; i < data.player.badges.length; i++) { %>
    <span class="badge" style="background: <%= data.player.badges[i].colour %>"><%= data.player.badges[i].name %></span>
  <% } %>
<% } %>
</p>
<div class="data">
  <table>
      <tr>
        <td>
          <img src="<%= data.player.avatar %>" alt="Avatar" />
        </td>
        <td><%= data.player.description %></td>
      </tr>
    <tr>
      <td>
        <a href="http://steamcommunity.com/profiles/<%= data.player.steamid %>"><%= data.player.steamid %></a>
      </td>
    </tr>
  </table>
</div>
