<p class="title"><%= data.player.alias %></p>
<div class="data">
  <a href="http://steamcommunity.com/profiles/<%= data.player.steamid %>"><%= data.player.steamid %></a>
  <p><%= data.player.description %></p>
  <img src="<%= data.player.avatar %>" alt="Avatar" />
</div>
