<p class="title">News</p>
<% if(data.pinned) { %>
  <% for(var i = 0; i < data.pinned.length; i++) { %>
    <div class="data">
      <p class="subtitle"><img height="32px" src="img/misc/pin.svg" alt="pinned" /><%= data.pinned[i].title %></p>
      <div class="news pinned">
          <%- data.pinned[i].content %>
      </div>
      <p>Author: 
        <img height="20px" src="<%= data.pinned[i].createdBy.avatar %>" alt="IMG" />
        <a href="<%= data.pinned[i].createdBy.steamid %>"><%= data.pinned[i].createdBy.alias %></a>
      </p>
    </div>
  <% } %>
<% } %>

<% if(data.news) { %>
  <% for(var i = 0; i < data.news.length; i++) { %>
    <div class="data">
      <p class="subtitle"><%= data.news[i].title %></p>
      <div class="news">
          <%- data.news[i].content %>
      </div>
      <p>Author: 
        <img height="20px" src="<%= data.news[i].createdBy.avatar %>" alt="IMG" />
        <a href="<%= data.news[i].createdBy.steamid %>"><%= data.news[i].createdBy.alias %></a>
      </p>
    </div>
  <% } %>
<% } %>